.container{
    background-color:rgba(192, 192, 192, 0.568);
    border-radius: 20px;
    padding: 25px;
    margin-top: 200px;
}

body{
    background: url('fondo.jpg');
    background-size: cover;
}
